.leaflet-marker-icon {
/*    width: 1px!important;
    height: 1px!important;*/
    border-radius: 30px!important;
    border: solid 1px;
}

.leaflet-marker-icon:hover {
    border: solid 2px;
    z-index: 90000!important;
}
.map-icon-edenor {
    border-color: #ff8800;
    background-color: #ee8800;
}

.map-icon-edesur {
    border-color: #0088ff;
    background-color: #0088ee;
}

.tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: 30px;
	padding: 5px;
	left: -35px;
	text-align: center;
	width: 100px;
}

.usuarios-sin-luz, .human-range {
    display: inline-block;
}